#comments {
  margin: $space-2 (-$space) (-$space-2) (-$space);
  padding: ($space-2) $space;
  background: fade-out($color-theme, 0.9);

  .comments-title {
    @extend .wrap;
    @extend .text-width;
    text-align: center;
    margin-bottom: $space-2;

    h2 {
      @extend .bigger;
    }
  }

  .comment-reply-title {
    @extend .bigger;
    text-align: center;

    small {
      display: block;
    }
  }

  .comment-list {
    list-style: none;
    padding: 0;
    margin-bottom: $space-2;

    > li {
      //background: fade-out($color-theme, 0.9);
      padding: 0;
      margin-bottom: $space;

      ul,
      ol {
        margin: 0;

        article {
          background: fade-out($color-background, 0.4);
        }
      }
    }

    article {
      box-sizing: border-box;
      background: $color-background;
      box-shadow: 0 0 0 1px fade-out($color-text, 0.9);
      padding: 1rem;
      margin: 0 0 0.5rem 0;

      .comment-meta {
        margin: 0 0 $space 0;

        .comment-author {
          display: flex;
          align-items: center;

          .avatar {
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            margin: 0 0.5rem 0 0;
          }

          .says {
            padding: 0 0 0 0.25rem;
            opacity: 0.7;
          }
        }

        .comment-metadata {
          @extend .caption;
          padding-left: 2.5rem;
          opacity: 0.6;

          a {
            text-decoration: none;
          }
        }

        .comment-awaiting-moderation {
          display: block;
          margin: 1rem 0 0 0;
          padding: 1rem;
          font-size: 0.8rem;
          font-style: normal;
          color: $color-theme;
          border: 1px $color-theme solid;
        }
      }

      .reply {
        text-align: right;

        a {
          @extend .btn;
          font-size: 0.8rem;

          &::after {
            order: 1;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f3e5";
            margin-left: 0.25rem;
          }
        }
      }

      &:last-child {
        margin: 0;
      }
    }

    .children {
      list-style: none;
    }
  }

  // Comment Form

  #commentform {
    .comment-notes {
      font-size: 0.8rem;
      text-align: center;
    }

    label {
      font-size: 0.9rem;
      font-weight: 500;
    }

    .comment-form-cookies-consent {
      label {
        font-weight: normal;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
      box-sizing: border-box;
      display: block;
      width: 100%;
    }

    .form-submit {
      text-align: center;
    }
  }
}
