{
  "site": { "URL": "https://doha.test" },
  "optimization": {
    "nano": {
      "level": {
        "1": {
          "all": true,
          "specialComments": 0
        },
        "2": {
          "mergeSemantically": true
        }
      }
    },
    "terser": {}
  }
}
