// Body
html {
  font-size: (($font-size / ($font-size * 0 + 1)) / 16 * 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  background: $color-background;
  color: $color-text;

  &.primary-menu-open {
    overflow: hidden;
  }
}
